

body
   h1='loading...'
   form.form-horizontal(id='submition' action="https://pep.shaparak.ir/gateway.aspx" method="POST")
      input(type="hidden"  name="invoiceNumber" value = IdArray.invoiceNumber)
      input(type="hidden"  name="invoiceDate" value =IdArray.invoiceDate)
      input(type="hidden"  name="amount" value =IdArray.amount)
      input(type="hidden"  name="terminalCode" value =IdArray.terminalCode)
      input(type="hidden"  name="merchantCode" value = IdArray.merchantCode)
      input(type="hidden"  name="redirectAddress" value = IdArray.redirectAddress)
      input(type="hidden"  name="timeStamp" value =IdArray.timeStamp)
      input(type="hidden"  name="action" value = IdArray.action)
      input(type="hidden"  name="mobile" value = IdArray.mobile)
      input(type="hidden"  name="email" value = IdArray.email)
      input(type="hidden"  name="sign" value= IdArray.sign)


  script.
    document.getElementById("submition").submit()
