
 
if nothingWrong
 h1 خرید موفق 
 a(href='lithiumstyle://a.com')  بازگشت به لیتیم
else 
 h1  خرید ناموفق
 a(href='lithiumstyle://a.com')  بازگشت به لیتیم


script.
 var nothingWrong
    if(verifiedResult !== 'somethingWentWrong' && verifiedResult && !verifiedResult.error && verifiedResult.action[0] !== 'NOTRANSACTON' && verifiedResult.action[0] !== 'NOINVOICE'){
     nothingWrong = true;
   }else{
     nothingWrong = false;
   }